@charset "UTF-8";

.login-page {
  width: 600px;
}

.login-btn {
  text-align: center;
}

header {
	height:5rem;
	background: rgb(236,143,61);
background: radial-gradient(circle, rgba(236,143,61,0.6222864145658263) 15%, rgba(252,192,70,0.6951155462184874) 73%);

}

.header-right a {
	font-size: 20px;
}

body {
	background: #F9F2ED;
}

