@charset "UTF-8";
.btn,
.btn-large,
.btn-small,
.btn-flat {
   border-radius: 4px;
   font-weight: 500;
}

.card:hover {
   box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.18);
}

.card {
   border-radius: 15px;
   box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}


.fixed_btn
{
  position: fixed;
  bottom: 5rem; 
  right: 7rem;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

header {
	height:5rem;
	background: rgb(236,143,61);
background: radial-gradient(circle, rgba(236,143,61,0.6222864145658263) 15%, rgba(252,192,70,0.6951155462184874) 73%);

}

.header-right a {
	font-size: 20px;
}


.step-content {
	background: #F9F2ED;
}

.step-title {
	font-size: large;
	pointer-events: none;
}


