<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ラクラクトイ</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />


    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/item_list.css" />
    <link rel="stylesheet" href="css/item_detail.css" />

  </head>
  <body>
    <!--ヘッダー（共通）-->
    <header>
      <div class="container">
        <div class="header">
          <div class="header-left">
            <a href="item_list_toy.html" th:href="@{/top(userId=${userId})}">
              <img src="img/header_logo.png" class="logo" />
            </a>
          </div>
          <div class="header-right">
            <a href="login.html" th:href="@{/login(userId=${userId})}"> ログイン </a>
            <a href="login.html" th:href="@{/logout}"> ログアウト </a>
            <a href="order_history.html"> 注文履歴 </a>
            <a th:href="@{/cart(orderId=${orderId})}">
              <i class="fas fa-sign-in-alt"></i>カート
            </a>
            <input id="orderId" type="hidden" th:value="${orderId}" />
          </div>
        </div>
      </div>
    </header>
    <div class="search-wrapper">
      <div class="container">
        <form class="search-form" action="post">
          <input type="text" id="search-name-input" />
          <button class="btn search-btn" type="button">
            <span>検 索</span>
          </button>
        </form>
      </div>
    </div>
    
    <!--item list-->
    <div class="item-wrapper">
      <div class="container">
        <div id="itemList" class="items">
          
        </div>
      </div>
    </div>
    
	<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="js/itemList.js"></script>
	<script src="js/postCart.js"></script>
	<script src="js/spinnerButton.js"></script>
    
  </body>
</html>
