<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ラクラクトイ</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/materialize-stepper@3.1.0/dist/css/mstepper.min.css"
    />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/register_admin.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/item_list.css" />
    <link rel="stylesheet" href="css/item_detail.css" />
    <link rel="stylesheet" href="css/cart_list.css" />
    <link rel="stylesheet" href="css/order_confirm.css" />
    <link rel="stylesheet" href="css/order_finished.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/top_stepper.css" />
  </head>
  <body>
    <!--ヘッダー（共通）-->

	<header>
      <div class="container">
        <div class="header">
          <div class="header-left">
            <a href="top.html">
              <img class="logo" src="img/header_logo.png" />
            </a>
          </div>

          <div class="header-right">
            <a href="item_list.html" th:href="@{/}">商品一覧</a>
            <a href="register_admin.html"  th:href="@{/signup}">会員登録</a>
            <a href="login.html" th:href="@{/login}" class="login">
              <i class="fas fa-sign-in-alt"></i>ログイン
            </a>

            <a href="order_history.html">注文履歴</a>
          </div>
        </div>
      </div>
    </header>
    <input id="orderId" type="hidden" th:value="${session.orderId}" />
    <div class="card">
      <div class="card-content" style="width: 100%">
        <ul
          class="stepper horizontal linear"
          style="padding-top: 7rem; height: 1000px"
        >
          <!-- 商品の一覧が表示されるページ（初期ページ） -->
          <li class="step active">
            <div class="step-title step1 waves-effect">
              商品を探す
            </div>
            <div class="step-content" style="margin-top: 7rem">
              <div class="row">
                <div
                  class="container"
                  style="margin-top: 5rem; margin-bottom: 2rem"
                >
                  <form class="search-form" action="post">
                    <input type="text" id="search-name-input" />

                    <button class="btn orange search-btn" type="button">
                      <span>検 索</span>
                    </button>
                  </form>
                </div>

                <!--item list-->
                <div class="item-wrapper col s12">
                  <div class="container">
                    <div id="itemList" class="items" style="margin-top:2rem"></div>
                  </div>
                </div>
              </div>

              <!-- 商品を追加する処理が終わればこのボタンを押すことでカートの中身を確認するページへ遷移する -->
              <div class="step-actions" style="position: relative">
                <!-- Here goes your actions buttons -->
                <button
                  class="waves-effect waves-light next-step light-blue darken-4 btn-large cart_button fixed_btn"
                  data-feedback="toCart"
                >
                  <i class="fas lg fa-shopping-cart" data-feedback="toCart"><br />カートへ</i>
                </button>
              </div>
            </div>
          </li>
          <!-- カートの中身を示すページ -->
          <li class="step">
            <div
              class="step-title waves-effect step2"
            >
              カート内の商品
            </div>
            <div class="step-content" style="margin-top: 7rem">
              <div class="row">
                <div class="top-wrapper">
                  <div class="container" style="padding-top: 0">
                    <h1 class="page-title">ショッピングカート</h1>
                    <!-- table -->
                    <div class="row">
                      <table class="striped">
                        <thead>
                          <tr>
                            <th class="cart-table-th">商品名</th>
                            <th>サイズ、価格(税抜)、数量</th>
                            <th>トッピング、価格(税抜)</th>
                            <th>小計</th>
                          </tr>
                        </thead>

                        <tbody id="orderItemTable" class="highlight"></tbody>
                      </table>
                    </div>

                    <div class="row cart-total-price">
                      <div id="tax"></div>
                      <div id="totalPrice"></div>
                    </div>

                   
                  </div>
                  <!-- end container -->
                </div>
              </div>
              <!--カートの中身に問題がなければ、このボタンを押すことで購入確認画面へ遷移する-->
              <div class="step-actions" style="position: relative">
                 <div class="row order-confirm-btn">
                      <form th:action="@{/confirm}" method="get">
                        <input
                          type="hidden"
                          name="orderId"
                          th:value="${session.orderId}"
                        />
                        <button class="btn waves-effect waves-dark btn next-step light-blue darken-4"
                          data-feedback="toConfirm" >注文に進む</button>
                      </form>
                      <button
	                  class="waves-effect waves-dark btn-flat previous-step"
	                  onclick="itemPrev()"
	                >
	                  商品一覧画面へ戻る
	                </button>
                 </div>
                
              </div>
            </div>
          </li>
          <!-- 購入確認画面を示すページ -->
          <li class="step">
            <div class="step-title waves-effect">購入確認</div>
            <div class="step-content" style="margin-top: 7rem">
              <div class="row">
                <form
                  th:action="@{/purchase}"
                  th:object="${confirmForm}"
                  method="post"
                >
                  <h2 class="page-title">お届け先情報</h2>
                  <div class="order-confirm-delivery-info">
                    <div>
                      <label
                        th:if="*{#fields.hasErrors('destinationName')}"
                        th:errors="*{destinationName}"
                        class="error"
                      >
                        氏名を入力してください
                      </label>
                    </div>
                    <div class="row">
                      <div class="input-field">
                        <input
                          id="name"
                          type="text"
                          name="destinationName"
                          th:field="*{destinationName}"
                        />
                        <label for="name">お名前</label>
                      </div>
                    </div>

                    <div>
                      <label
                        th:if="*{#fields.hasErrors('destinationEmail')}"
                        th:errors="*{destinationEmail}"
                        class="error"
                      >
                        メールアドレスを入力してください
                      </label>
                    </div>
                    <div class="row">
                      <div class="input-field">
                        <input
                          id="email"
                          type="email"
                          name="destinationEmail"
                          th:field="*{destinationEmail}"
                        />
                        <label for="email">メールアドレス</label>
                      </div>
                    </div>

                    <div>
                      <label
                        th:if="*{#fields.hasErrors('destinationZipcode')}"
                        th:errors="*{destinationZipcode}"
                        class="error"
                        >郵便番号はXXX-XXXXの形式で入力してください</label
                      >
                    </div>
                    <div class="row">
                      <div class="input-field">
                        <input
                          id="zipcode"
                          type="text"
                          maxlength="7"
                          name="destinationZipcode"
                          th:field="*{destinationZipcode}"
                        />
                        <label for="zipcode">郵便番号</label>
                        <button class="btn" type="button">
                          <span>住所検索</span>
                        </button>
                      </div>
                    </div>

                    <div>
                      <label
                        th:if="*{#fields.hasErrors('destinationAddress')}"
                        th:errors="*{destinationAddress}"
                        class="error"
                        >住所を入力して下さい</label
                      >
                    </div>
                    <div class="row">
                      <div class="input-field">
                        <input
                          id="address"
                          type="text"
                          name="destinationAddress"
                          th:field="*{destinationAddress}"
                        />
                        <label for="address">住所</label>
                      </div>
                    </div>

                    <div>
                      <label
                        th:if="*{#fields.hasErrors('destinationTel')}"
                        th:errors="*{destinationTel}"
                        class="error"
                        >電話番号はXXXX-XXXX-XXXXの形式で入力してください</label
                      >
                    </div>
                    <div class="row">
                      <div class="input-field">
                        <input
                          id="tel"
                          type="tel"
                          name="destinationTel"
                          th:field="*{destinationTel}"
                        />
                        <label for="tel">電話番号</label>
                      </div>
                    </div>

                    <div>
                      <label
                        th:if="*{#fields.hasErrors('deliveryDate')}"
                        th:errors="*{deliveryDate}"
                        class="error"
                        >正しい日時を選んでください</label
                      >
                    </div>
                    <div>
                      <label
                        th:if="*{#fields.hasErrors('deliveryTime')}"
                        th:errors="*{deliveryTime}"
                        class="error"
                        >正しい配達時間を選んでください</label
                      >
                    </div>
                    <div class="row order-confirm-delivery-datetime">
                      <div class="input-field">
                        <input
                          id="deliveryDate"
                          type="date"
                          name="deliveryDate"
                          th:field="*{deliveryDate}"
                        />
                        <label for="address">配達日時</label>
                      </div>
                      <label class="order-confirm-delivery-time">
                        <input
                          name="deliveryTime"
                          type="radio"
                          value="10時"
                          checked="checked"
                        />
                        <span>10時</span>
                      </label>
                      <label class="order-confirm-delivery-time">
                        <input name="deliveryTime" type="radio" value="11時" />
                        <span>11時</span>
                      </label>
                      <label class="order-confirm-delivery-time">
                        <input name="deliveryTime" type="radio" value="12時" />
                        <span>12時</span>
                      </label>
                      <label class="order-confirm-delivery-time">
                        <input name="deliveryTime" type="radio" value="13時" />
                        <span>13時</span>
                      </label>
                      <label class="order-confirm-delivery-time">
                        <input name="deliveryTime" type="radio" value="14時" />
                        <span>14時</span>
                      </label>
                      <label class="order-confirm-delivery-time">
                        <input name="deliveryTime" type="radio" value="15時" />
                        <span>15時</span>
                      </label>
                      <label class="order-confirm-delivery-time">
                        <input name="deliveryTime" type="radio" value="16時" />
                        <span>16時</span>
                      </label>
                      <label class="order-confirm-delivery-time">
                        <input name="deliveryTime" type="radio" value="17時" />
                        <span>17時</span>
                      </label>
                      <label class="order-confirm-delivery-time">
                        <input name="deliveryTime" type="radio" value="18時" />
                        <span>18時</span>
                      </label>
                    </div>
                  </div>

                  <div>
                    <label
                      th:if="${#fields.hasErrors('paymentMethod')}"
                      th:errors="*{paymentMethod}"
                      class="error"
                      >お支払方法にエラーがありました</label
                    >
                  </div>
                  <h2 class="page-title">お支払い方法</h2>
                  <div class="row order-confirm-payment-method">
                    <span>
                      <label class="order-confirm-payment-method-radio">
                        <input
                          name="paymentMethod"
                          type="radio"
                          value="1"
                          checked="checked"
                        />
                        <span>代金引換</span>
                      </label>
                      <label class="order-confirm-payment-method-radio">
                        <input name="paymentMethod" type="radio" value="2" />
                        <span>クレジットカード</span>
                      </label>
                    </span>
                  </div>
                  <div class="row order-confirm-btn ">
                    <button class="btn light-blue darken-4 btn-large">
                      <span>この内容で注文する</span>
                    </button>
                  </div>
                </form>
                　　
              </div>
              <!--お支払い情報などに問題がなければ、このボタンを押すことで完了画面へ遷移する-->
              <div class="step-actions" style="position: relative">
                <button class="waves-effect waves-dark btn-flat previous-step">
                  カートの内容確認に戻る
                </button>
              </div>
            </div>
          </li>
          <!-- 購入完了画面を示すページ -->
          <li class="step">
            <div class="step-title waves-effect">購入完了</div>
            <div class="step-content">
              <div class="row">購入完了画面が表示されます</div>
              <div class="step-actions">
                <button
                  class="waves-effect waves-dark btn blue next-step"
                  data-feedback="noThing"
                >
                  endless
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/itemList.js"></script>
    <script src="js/postCart.js"></script>
    <script src="js/spinnerButton.js"></script>
    <script src="https://unpkg.com/materialize-stepper@3.1.0/dist/js/mstepper.min.js"></script>
    <script src="js/top_stepper.js"></script>
    <script src="js/cartList.js"></script>
  </body>
</html>
