<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{css/common.css}" />
    <link rel="stylesheet" th:href="@{css/header.css}" />
    <link rel="stylesheet" th:href="@{css/footer.css}" />
    <link rel="stylesheet" th:href="@{css/register_admin.css}" />
    <link rel="stylesheet" th:href="@{css/login.css}" />
    <link rel="stylesheet" th:href="@{css/item_list.css}" />
    <link rel="stylesheet" th:href="@{css/item_detail.css}" />
    <link rel="stylesheet" th:href="@{css/cart_list.css}" />
    <link rel="stylesheet" th:href="@{css/order_confirm.css}" />
    <link rel="stylesheet" th:href="@{css/order_finished.css}" />
    <link rel="stylesheet" th:href="@{css/responsive.css}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ラクラクトイ</title>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="header-left">
            <a href="top.html"> </a>
          </div>

          <div class="header-right">
          <!-- FIXME: 本来はth:hrefにはuserIdを埋め込むべき。SpringSecurityを導入予定のため雑に実装。 -->
            <a href="item_list.html" th:href="@{/(userId=${userId})}">商品一覧</a>
            <a th:href="@{/signup(userId=${userId})}">会員登録</a>
            <a href="login.html" th:href="@{/login(userId=${userId})}" class="login">
              <i class="fas fa-sign-in-alt"></i>ログイン
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="top-wrapper" style="padding-top:7rem">
      <div class="container">
        <div class="row login-page">
          <div class="col s12 z-depth-6 card-panel">
            <div class="error" th:if="${loginStatus}">
              <label th:text="${loginStatus}">エラーメッセージ</label>
            </div>
            <form
              class="login-form"
              th:action="@{/login(userId=${userId})}"
              th:object="${loginForm}"
              method="post"
            >
            <input type="hidden" name="guestUserId" th:value="${userId}">
              <div>
                <label
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"
                  class="error-messages"
                >
                  メールアドレスを入力してください
                </label>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">mail_outline</i>
                  <input
                    class="validate"
                    id="mailAddress"
                    type="email"
                    th:field="*{email}"
                  />
                  <label
                    for="mailAddress"
                    data-error="wrong"
                    data-success="right"
                    >メールアドレス</label
                  >
                </div>
              </div>
              <div>
                <label
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"
                  class="error-messages"
                  >パスワードは８文字以上１６文字以内で設定してください</label
                >
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock_outline</i>
                  <input id="password" type="password" th:field="*{password}" />
                  <label for="password">パスワード</label>
                </div>
              </div>
              <div class="row login-btn">
                <button class="btn blue" style="margin:auto; width:80%;" type="submit" >
                  <span>ログイン</span>
                </button>
              </div>
              <div class="row">
                <div class="input-field col s6 m6 l6">
                  <p class="margin medium-small">
                    <a th:href="@{/signup}">ユーザー登録はこちら</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <p>ラクラクトイ</p>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
