<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!-- Import Materialize CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
<!-- Import Font Wesome -->
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{css/common.css}" />
<link rel="stylesheet" th:href="@{css/header.css}" />
<link rel="stylesheet" th:href="@{css/footer.css}" />
<link rel="stylesheet" th:href="@{css/register_admin.css}" />
<link rel="stylesheet" th:href="@{css/login.css}" />
<link rel="stylesheet" th:href="@{css/item_list.css}" />
<link rel="stylesheet" th:href="@{css/item_detail.css}" />
<link rel="stylesheet" th:href="@{css/cart_list.css}" />
<link rel="stylesheet" th:href="@{css/order_confirm.css}" />
<link rel="stylesheet" th:href="@{css/order_finished.css}" />
<link rel="stylesheet" th:href="@{css/responsive.css}" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>ラクラクトイ</title>
</head>

<body>
	<header>
		<div class="container">
			<div class="header">
				<div class="header-left">
					<a href="top.html"> </a>
				</div>

				<div class="header-right">
					<a href="item_list.html" th:href="@{/top}">商品一覧</a> <a th:href="@{/signup}">会員登録</a>
					<a href="login.html" th:href="@{/login}" class="login"> <i
						class="fas fa-sign-in-alt"></i>ログイン
					</a>
				</div>
			</div>
		</div>
	</header>

	<div class="top-wrapper">
		<div class="container">
			<div class="row register-page">
				<form th:action="@{/signup}" method="post" th:object="${signupForm}">
					<!-- 名前 -->
					<div>
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
							class="error"> 氏名を入力してください </label>
					</div>
					<div class="row">
						<input type="text" name="name" id="name" class="form-control"
							placeholder="山田太郎" th:field="*{name}" th:errorclass="error-input"
							value="山田太郎" /> <label for="name">氏名</label>
					</div>

					<!-- メールアドレス -->
					<div>
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							class="error"> メールアドレスを入力してください </label>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" name="email" id="email" class="form-control"
								placeholder="yamada@mail.com" th:field="*{email}"
								th:errorclass="error-input" value="yamada@mail.com" />
						</div>
						<label for="email">メールアドレス</label>
					</div>

					<!-- 郵便番号 -->
					<div>
						<label th:if="${#fields.hasErrors('zipCode')}"
							th:errors="*{zipCode}" class="error">郵便番号はXXX-XXXXの形式で入力してください</label>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="zipCode" name="zipCode" class="form-control"
								placeholder="xxxyyyy" th:field="*{zipCode}"
								th:errorclass="error-input" type="text"
								list="zipList" /> <label for="zipCode">郵便番号</label>
							<button class="btn" type="button">
								<span>住所検索</span>
							</button>
						</div>
					</div>

					<!-- 住所 -->
					<div>
						<label th:if="${#fields.hasErrors('address')}"
							th:errors="*{address}" class="error">住所を入力して下さい</label>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="address" type="text" name="address"
								class="form-control" th:field="*{address}"
								th:errorclass="error-input" /> <label for="address">住所</label>
						</div>
					</div>

					<!-- 電話番号 -->
					<div>
						<label th:if="${#fields.hasErrors('telephone')}"
							th:errors="*{telephone}" class="error">電話番号はXXXX-XXXX-XXXXの形式で入力してください</label>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="tel" type="tel" name="telephone" class="form-control"
								th:field="*{telephone}" th:errorclass="error-input" /> <label
								for="tel">電話番号</label>
						</div>
					</div>


					<!-- パスワード -->
					<div>
						<label th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}" class="error">パスワードは８文字以上１６文字以内で設定してください</label>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="password" type="password" class="validate"
								minlength="8" name="password" th:field="*{password}"
								th:errorclass="error-input" required /> <label for="password">パスワード</label>
						</div>
					</div>

					<!-- 確認用パスワード -->
					<div>
						<label th:if="${#fields.hasErrors('confirmPassword')}"
							th:errors="*{confirmPassword}" class="error">パスワードと確認用パスワードが不一致です

						
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="confirmation_password" type="password"
								class="validate" name="confirmPassword"
								th:field="*{confirmPassword}" th:errorclass="error-input"
								minlength="8" required /> <label for="confirmation_password">確認用パスワード</label>
						</div>
					</div>
					<div class="row register-admin-btn">
						<button class="btn" type="submit">
							<span>登録<i class="material-icons right">done</i></span>
						</button>
					</div>
				</form>
			</div>
		</div>
		<!-- end container-->
	</div>


	<datalist id="zipList">
	</datalist>

	<footer>
		<div class="container">
			<p>ラクラクトイ</p>
		</div>
	</footer>
	<!-- Compiled and minified JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
		
	</script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous">
		
	</script>
	<script th:src="@{/js/zipcode.js}"></script>
</body>
</html>
