ご注文の確認

${order.user.name} 様

order:
=============================
${order}
=============================


ご注文ありがとうございます。

注文内容：
商品名	サイズ	価格	数量	オプション	小計
○○	M/L	△△円	○個	○○　△△円
				○○　△△円
				○○　△△円	△△円


合計  〇点　△△円

支払方法　クレジット	xxxx-xxxx-xxxx-0000
	　代引き

=======================================
ご注文を承りました。
　　発送予定日：yyyy/MM/dd
配送完了予定日：yyyy/MM/dd
※発送予定日、配送完了予定日は変更する可能性がございます。


またのご利用お待ちしております。
 ~/ec202204c/

=======================================
ご不明な点がございましたら以下のメールまたは電話にご連絡ください。
ラクラクトイ
mail: abc@abc.com
 tel: 000-0000-0000